* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
}

main {
  border: 2px solid salmon;
  height: 90vh;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  overflow: auto;
}

.input-area {
  display: flex;
  height: 10vh;
}

.input-area  textarea {
  flex-grow: 1;
}

.message {
  border: 2px solid green;
  width: 50%;
  padding: 1rem;
}

.message.self {
  align-self: flex-end;
  background-color: lightgreen;
} 

.message .user {
  background-color: black;
  font-size: .8em;
  color: white;
  padding: .25em 1em;
  display: inline-block;
  border-radius: 5px;
}

.message .date {
  font-size: .6em;
  padding: 0 .5em;
  margin-block: 1rem;
}